@import '../variables';
.Resume-timeline{
  .Resume-timeline-item{
    padding-left: 74px;
    padding-bottom: 64px;
    position: relative;
    &:last-child{
      padding-bottom: 0;
    }
    h3{
      font-size: 16px;
      line-height: 27px;
      color: #9999;
      margin-bottom: 28px;
    }
    p{
      font-size: 13px;
      line-height: 22px;
      margin-bottom: 18px;
      margin-top: 5px;
    }
    &::before{
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: #656565;
      border-radius: 50%;
      top: 7px;
      left: -6px;
      transition: .3s all;
    }
    &::after{
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #333;
      top: 10px;
      left: 0;
      z-index: -1;
    }
    &:hover{
      h3{
        color: $green;
      }
      &::before{
        background-color: $green;
      }
    }
  }
}