@import '../variables';
.Notification{
  position: fixed;
  top: 30px;
  right: calc(-300px + -3em);
  border: 1px solid $green;
  border-right: 0;
  background-color: #1f1f1f;
  padding: 1.5em;
  font-size: 14px;
  line-height: 19px;
  max-width: 300px;
  text-align: center;
  color: white;
  z-index: 1000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  svg{
    color: $green;
    margin-right: 6px;
  }
}

.Notification-show{
  right: 0;
}